.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sourceUrl {
  width: 60%;
}
